body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jersey 10', sans-serif;
  color: #160B07;
}
h1 {
  font-family: 'Uncial Antiqua', serif;
  font-size: 24px;
}
.view {
  height: 100%;
  width: 100%;
  position: absolute;
}
#view-map {
  background-color: #314b58;
}
#map {
  width: 80%;
  padding-bottom: 45%;
  background-image: url(images/map.png);
  background-size: contain;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
}
.map-marker {
  box-sizing: border-box;
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #FFBC40;
  background-image: url(images/map-pin.png);
  box-shadow: 0px 2px 8.3px rgba(0, 0, 0, 0.4);
  border-radius: 18px;
  cursor: pointer;
  transition: all 0.15s;
  border: 2px solid #160B07;
  background-size: cover;
}
.map-marker:hover, .map-marker:focus, .map-marker:active {
  box-sizing: border-box;
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #FFFFFF;
  background-image: url(images/map-pin.png);
  box-shadow: 0px 2px 8.3px rgba(0, 0, 0, 0.8);
  border-radius: 18px;
  cursor: pointer;
  transition: all 0.15s;
  border: 2px solid #160B07;
  background-size: cover;
}
.title-plate-medium {
  width: 209px;
  height: 39px;
  background-image: url(images/title-plate-medium.png);
  background-size: cover;
  border: 2px solid #160B07;
  border-radius: 4px;
  box-shadow: 0px 2px 8.3px rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 20px;
}
.title-plate-medium h1 {
  margin: 0;
  margin-top: 2px;
  padding: 0;
  text-align: center;
}
.button {
  height: 44px;
  width: 168px;
  // background-image: url(images/button-1.svg);
  // background-size: cover;
  background-color: #ef5c3a;
  box-shadow:       4px  0   0 0 #402C2C,
                   -4px  0   0 0 #402C2C,
                    0    4px 0 0 #402C2C,
                    0   -4px 0 0 #402C2C
             inset  4px  0   0 0 rgba(231, 213, 179, 15),
             inset -4px  0   0 0 rgba(64, 44, 44, 33);
}
.button p {
  font-size: 26px;
  text-align: center;
  color: #E7D5B3;
  text-shadow: 0px 2px 0px rgba(64, 44, 44, 0.25);
}
